In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
import numpy as np
import pandas as pd

In [3]:
def extract(page):
    
    
    headers = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.85 Safari/537.36 '}
    url = f'https://www.indeed.com/jobs?q=data+scientist&l=United+States&jt=fulltime&explvl=entry_level&fromage=14&start={page}'
    r = requests.get(url, headers)
    soup = BeautifulSoup(r.content, 'html.parser')
#     print(soup)
    return soup

def trasform(soup):
    
    divs = soup.find_all('div', {'class':'jobsearch-SerpJobCard'})
    for item in divs:
        title = item.find('a').text.strip()
        company = item.find('span', class_ = 'company').text.strip()
        
        try:
            salary = item.find('span', class_ = 'salaryText').text.strip()
            
        except:
            salary = ""
            
        summery = item.find('div', class_ = 'summary').text.strip()
            
        job ={'title':title,
             'company':company,
              'summery': summery,
             'salary':salary}
        
#         print(salary)


        joblist.append(job)


joblist = []


for i in range(0,30):
    c = extract(i)
    # # print(c)
    trasform(c)



Jobs = pd.DataFrame(joblist)
Jobs
# class_="jobs-search-results display-flex flex-column"

,title,company,summery,salary
0,Data Entry,TransPerfect Translations Inc.,This job requires a high level of independence...,
1,Data Scientist,Proximate Technologies,Work together with key stakeholders (data scie...,"Up to $127,079 a year"
2,Data Scientist,ids,Will be focused on developing and deploying im...,$65 - $85 an hour
3,Entry Level - Associate Data Scientist,IBM,Actual incentive opportunity will be based on ...,
4,Data Scientist,Nengu Tech Limited,Partner with teams to identify and explore opp...,"$79,087 - $184,216 a year"
...,...,...,...,...
443,Data Scientist,CONTINENTAL FINANCE COMPANY,This role requires advanced degree in statisti...,
444,Data Scientist,"Signature Science, LLC","Performs data analytics, specifically data cle...",
445,Data Science Intern,CSC (Corporation Service Company),Work closely with Corptax subject matter exper...,$20 - $30 an hour
446,Data Scientist 1,PayPal,Through a combination of technological innovat...,
447,Mid-Level Data Scientist/Modeler,Battelle,Computer Science or Computer Science Engineeri...,

In [4]:
Jobs.shape

(448, 4)

In [5]:
Jobs.to_csv('Data-jobs-usa_entryLev_last14_fulltime_.csv')